.col-md-4
.col-md-4.text-center
  .thumbnail.logo
    = image_tag "tbc.png"
  %p.leyend
    The Bit Corps © 2016
  %p.leyend
    soporte@thebitcorps.com
  %p.leyend
    Desarrollado para Loretta residencial 