!!!
%html
	%head
		%title Loretta
		%meta{:charset => "utf-8"}/
		%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
		%link{:href => "http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css", :rel => "stylesheet"}/
		= stylesheet_link_tag "map"
	%body{onresize: "onClickLot(currentIndex)"}

		#map
		%script{:src => "http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"}
		= javascript_include_tag "map/map"

		#mymodal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
			.modal-dialog{:role => "document"}
				.modal-content
					.modal-header
						%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
							%span{"aria-hidden" => "true"} ×
						%h4#myModalLabel.modal-title Modal title
					.modal-body
						#modal-div
							%canvas{id: 'view'}
					.modal-footer
						