%p#notice= notice
%h1 Terrenos
.list-group
  - @lots.each do |lot|
    .list-group-item.lot-list{id: "lot#{lot.id}"}
      =render lot
.text-center
  = will_paginate @posts, :previous_label => 'Anterior', :next_label => 'Siguiente',renderer: BootstrapPagination::Rails, :inner_window => 1
