/* =require bootstrap_and_overrides */
body
{
	margin:0;
	padding:0;
}

#map
{
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}

#modal-div
{
	padding: 0;
}

.modal-content
{
	border-radius: 0;
}

.head-inf
{
	width: 100%;
}

.colm
{
	width: 33%;
}

#avi
{
	padding: 0;
	margin: 0;
}

#baner
{
	position: absolute;
	width: 100%;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,144,48,0.5);
}

.logo
{
	margin-top: -130px;
	height: 100px;
}

.inf
{
	color: white;
	margin-top: 0;
}

.info-map
{
	width: 200px;
	margin-left: auto;
	margin-right: 40px;
	margin-top: -130px;
}

.enabled
{
	background-color: white;
	padding: 1px 3px 5px 3px;
	border-width: 3px;
	border-style: dotted;
	border-color: #4dff4d;
	color: #4dff4d;
	max-width: 200px;
}

.disabled
{
	background-color: #F0F0F0;
	padding: 1px 3px 5px 3px;
	border-width: 3px;
	border-style: dotted;
	border-color: #808080;
	color: #808080;
	max-width: 200px;
}